<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include  ("./partials/head.html") %>
    <link href="/css/Actividades.css" rel="stylesheet">
    <title><%= title%></title>
</head>
<%- include  ("./partials/body.html") %>

<body>

    <%- include ("./partials/navigationAllPage.html") %>

    <header class="masthead">
        <section class="testimonials text-center" id="actividades">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto wow fadeInUp">
                        <h3 class="text-center font-weight-bold"><span class="bg-main">NUESTRAS</span> ACTIVIDADES</h3>
                        <p class=" text-center">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-2 col-lg-4 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                        <a href="#reuniones">
                            <div class="card">
                                <img class="card-img-top"
                                    src="https://images.pexels.com/photos/258732/pexels-photo-258732.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
                                <div  class="card-block">
                                    <h4 class="card-title text-center">REUNIONES</h4>
                                </div>
                                <div class="card-footer text-center">
                                    <small>Lorem Ipsum is simply dummy text of the printing and typesetting</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-2 col-lg-4 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                       <a  href="/contacto"> 
                        <div class="card" >
                            <img class="card-img-top" src="images/goracion2.jpg">
                            <div class="card-block">
                                <h4 class="card-title text-center">GRUPO DE ORACION</h4>
                            </div>
                            <div class="card-footer text-center">
                                <small>Lorem Ipsum is simply dummy text of the printing and typesetting</small>
                            </div>
                        </div>
                    </a>
                    </div>
                    <div class="col-sm-6 col-md-2 col-lg-4 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="card">
                            <img class="card-img-top" src="images/iglesiahogar.jpg">
                            <div class="card-block">
                                <h4 class="card-title text-center">GRUPOS DE HOGAR</h4>
                            </div>
                            <div class="card-footer text-center">
                                <small>Lorem Ipsum is simply dummy text of the printing and typesetting</small>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
  
    <section class="testimonials bg-light" id="reuniones">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto wow fadeInUp">
                    <h3 class="text-center font-weight-bold"><span class="bg-main">RE</span>UNIONES</h3>
                    <p class=" text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="card">
                        <img class="card-img-top h-262" src="images/kids3.jpg">
                        <div class="card-block">

                            <h4 class="card-title">Niños</h4>
                            <div class="card-text">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's.</p>
                            </div>
                        </div>
                        <div class="card-footer text-center ">
                            <a href="https://www.instagram.com/ninos.arro/" class="pull-center">
                                <i class="fa fa-instagram fa-2x fa-fw justify-center"></i></a>

                            <a href="https://www.youtube.com/playlist?list=PLQg1bZCK1IA2x_IcVOZrksLH3sJPSkFbt"
                                class="pull-center">
                                <i class="fa fa-youtube fa-2x fa-fw justify-center"></i></a>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-md-4 col-lg-4 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="card">
                        <img class="card-img-top h-262" src="images/Adoles.jpg">
                        <div class="card-block">

                            <h4 class="card-title">GRUPO DE ADOLESCENTES </h4>

                            <div class="card-text">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's.</p>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <a href="https://www.instagram.com/adolesmetarroyito" class="pull-center">
                                <i class="fa fa-instagram fa-2x fa-fw justify-center"></i></a>
                            <a href="https://www.youtube.com/playlist?list=PLQg1bZCK1IA0F7qY8YRjmo63iG5mzuVLA"
                                class="pull-center">
                                <i class="fa fa-youtube fa-2x fa-fw justify-center"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="card">
                        <img class="card-img-top h-262" src="images/jovenes1.jpg">
                        <div class="card-block">

                            <h4 class="card-title ">GRUPO DE JOVENES</h4>

                            <div class="card-text ">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's.</p>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <a href="https://www.youtube.com/playlist?list=PLQg1bZCK1IA3ZEOMKMG2JtYClxsCIBKta"
                                class="pull-center">
                                <i class="fa fa-youtube fa-2x fa-fw justify-center"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="card">
                        <img class="card-img-top h-262" src="images/Grupo de Mujeres.jpg">
                        <div class="card-block">

                            <h4 class="card-title">GRUPO DE MUJERES</h4>

                            <div class="card-text">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's.</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small>$ 170</small>
                            <a href="#" class="pull-right">More Info</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="card">
                        <img class="card-img-top h-262"
                            src="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                        <div class="card-block">

                            <h4 class="card-title">GRUPO DE MATRIMONIOS</h4>

                            <div class="card-text">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's.</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small>$ 170</small>
                            <a href="#" class="pull-right">More Info</a>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="card">
                        <img class="card-img-top h-262"
                            src="https://images.pexels.com/photos/753626/pexels-photo-753626.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
                        <div class="card-block">

                            <h4 class="card-title ">SIRVIENDO UNI2</h4>

                            <div class="card-text ">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's.</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small>$ 170</small>
                            <a href="#" class="pull-right">More Info</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    <%- include ("./partials/piedePagina.html") %>
    <%- include ("./partials/footer.html") %>
</body>

</html>