<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include  ("./partials/head.html") %>
    <link href="/css/Encontranos.css" rel="stylesheet">
    <title><%= title%></title>
</head>
<%- include  ("./partials/body.html") %>
<body>
    
    
        <%- include ("./partials/navigationAllPage.html") %>

<header class="masthead"> 
    <section class="testimonials text-center masthead text-black" id="mapa"> 
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow fadeInUp">
                    <h3 class="text-center font-weight-bold"><span class="bg-main">EN</span>CONTRANOS</h3>
                    <p class=" text-center">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
            <div class="col-md-12 wow fadeInUp  ">
                    <p class="text-justify font-italic  text-center">Lorem Ipsum is simply dummy text
                        of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                        make a type specimen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popn.</p>
             
            </div>
        </div>
    </section>    
</header>   

<section class=" text-center " >         
                <div class="sm-img-3 mapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3349.3173632295116!2d-60.678672484277534!3d-32.91621237767949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b6535f37fd272b%3A0x6a021dba19be9789!2sIglesia%20Evang%C3%A9lica%20Metodista%20Arroyito!5e0!3m2!1ses-419!2sar!4v1600207728606!5m2!1ses-419!2sar" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div> 
        </div>
</section>    




    <%- include ("./partials/piedePagina.html") %>
    <%- include ("./partials/footer.html") %>
</body>
</html>