<!DOCTYPE html>
<html lang="en">

<head>
    <%- include  ("./partials/head.html") %>
    <link href="/css/IglesiaArroyito.css" rel="stylesheet">
    <title><%= title%> </title>
</head>
<%- include  ("./partials/body.html") %>

<body>
   
    <%- include ("./partials/navigation.html") %>


    <header class="masthead text-white ">
        <div class="overlay"></div>
        <div class="container slider-top-text">
            <div class="row">
                <div class="col-md-12 text-center">
                   
                    <h3 class="my-heading">Bienvenido a la Iglesia Metodista de <span class="bg-main">Arroyito</span>
                    </h3>
                    <p class="myp-slider text-center"></p>
                    <p class="myp text-center">un lugar para encontrar lo que buscas...</p>
                    <a class="btn btn-primary btn-join"
                        href="https://www.youtube.com/user/IEMAenArroyito/videos?view=2&sort=dd&live_view=503&shelf_id=2">Iglesia en Casa </a>

                </div>
                <div class="col-md-12 text-center mt-5">
                    <div class="scroll-down">
                        <a class="btn btn-default btn-scroll floating-arrow" href="#gobottom" id="bottom"><i
                                class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="testimonials" id="gobottom">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="big-img">
                        <img src="images/igle1.jpeg" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="inner-section wow fadeInUp">
                        <h3> <span class="bg-main">Como una gran Familia te damos la bienvenida.</span></h3>
                        <p class="text-justify">
                            Te estábamos esperando,  las puertas están abiertas. Te invitamos a que tomes tu lugar en la mesa, hay lugar para todos.
                            Queremos acompañarte, compartir la palabra y alimentarnos juntos en la relación con DIOS. 
                            Jesús nos llama a vivir en el Espíritu, mediante una palabra que se hace reconciliación, no nos llama a vivir la fe en Soledad. Cada Acto de amor en la tierra nos da la certeza que la paz de DIOS, que sobrepasa todo lo que podemos entender, nos permite vivir con sentido, plenos, avanzando en todo lo bueno agradable y perfecto. Esa certeza que solo nace de Dios por medio de Jesús.
                            </p>

                        <div class="linear-grid">
                            <div class="row">
                                <div class="col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s">
                                    <img src="images/igle3.jpeg" class="img-thumbnail">
                                </div>
                                <div class=" col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s">
                                    <img src="images/igle2.jpeg" class="img-thumbnail">
                                </div>
                                <div class="col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s">
                                    <img src="https://images.pexels.com/photos/285598/pexels-photo-285598.jpeg?auto=compress&cs=tinysrgb&h=350" class="img-thumbnail">
                                </div>
                                <div class="col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s">
                                    <img src="https://images.pexels.com/photos/167605/pexels-photo-167605.jpeg?auto=compress&cs=tinysrgb&h=350" class="img-thumbnail">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonials mybg-events" id="cultos">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow fadeInUp">
                    <h3 class="title-heading text-center">REUNION PRINCIPAL</h3>
                    <p class="myp text-center">Nuestros cultos</p>
                </div>
            </div>
            <div class="row wow slideInLeft" data-wow-duration="3s">
                <div class="col-md-4 mb-3">
                    <div class="big-img2">
                        <img src="https://images.pexels.com/photos/167527/pexels-photo-167527.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                            class="img-fluid">
                    </div>

                </div>
                <div class="col-md-8">
                    <div class="inner-section">
                        <div class="my-grid">
                            <div class="row">
                                <div class="col-sm-6 col-md-4 mb-3">

                                    <img src="https://images.pexels.com/photos/761963/pexels-photo-761963.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                                        class="img-fluid">

                                </div>
                                <div class="col-sm-6 col-md-8 mb-3 ">

                                    <img src=" https://images.pexels.com/photos/164693/pexels-photo-164693.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                                        class="img-fluid">

                                </div>

                                <div class="col-md-8 mb-3">
                                    <div class="text-block">
                                        <h5 class="events-heading"> “Estamos para predicar el evangelio, sanar heridos, edificar personas y servir en el nombre de Jesús"</h5>
                                        <p class="myp-font">contrary to popular belief, Lorem Ipsum is simply dummy text
                                            of the printing and typesetting industry. Lorem Ipsum has been the
                                            industry's standard dummy text ever since the 1500s, when an unknown printer
                                            took a galley of type and scrambled it to make a type specimen book and more
                                            recently with desktop publishing software like Aldus PageMaker.</p>
                                    </div>
                                </div>
                                <div class=" col-md-4 ">

                                    <img src="https://images.pexels.com/photos/1150837/pexels-photo-1150837.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                                        class="img-fluid">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <%- include ("./partials/piedePagina.html") %>
    <%- include ("./partials/footer.html") %>
</body>

</html>