<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include  ("./partials/head.html") %>
    <link href="/css/Jesus.css" rel="stylesheet">
    <title><%= title%></title>
</head>
<%- include  ("./partials/body.html") %>
<body>

    <%- include ("./partials/navigationAllPage.html") %>

    <header class="masthead">
        <section class="testimonials text-center masthead  ">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto wow fadeInUp">
                        <h3 class="text-center font-weight-bold">LA <span class="bg-main">BUENA </span>NOTICIA</h3>
                        <p class=" text-center texto ">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mx-auto wow fadeInUp ">
                            <p class="text-center font-italic list-unstyled texto ">Lorem Ipsum is simply dummy text
                                of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                                dummy
                                text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                it to
                                make a type specimen book. It has survived not only five centuries, but also the leap
                                into
                                electronic typesetting, remaining essentially unchanged. It was popn.
                            </p>
                        </div>
                    </div>
                </div>
        </section>
    </header>
    
        <%- include ("./partials/piedePagina.html") %>
        <%- include ("./partials/footer.html") %>
    
</body>

</html>