<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/Jesus.css" rel="stylesheet">
    <%- include  ("./partials/head.html") %>
    <title>Lagram 19/26</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto wow fadeInUp">
                    <H1>Juego para conocernos mejor</H1>
                    <h2>La idea es que tu respuesta dure 1 min como maximo, pero hay consignas que duran menos tiempo</h2>
                    <iframe src="https://wordwall.net/embed/c2307d6891bd4b76a5e35f0eed66f512?themeId=52&templateId=8"
                        width="500" height="380" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </header>
</body>

</html>