<nav class="navbar fixed-top navbar-expand-lg navbar-dark  scrolling-navbar" id="navbar">
    <div class="container"><a class="navbar-brand" href="#"><img src="images/Logo blanco-01.png" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" 
    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="/">INICIO</a>
                    <a class="nav-item nav-link" href="/actividades">ACTIVIDADES</a>
                    <a class="nav-item nav-link" href="/jesus">JESUS</a>
                    <a class="nav-item nav-link" href="/encontranos">ENCONTRANOS</a>
                    <a class="nav-item nav-link" href="/contacto">¿ORAMOS?</a>
                </ul>
            </div>
        </div>
</nav>
