<nav class="navbar navbar-expand-lg navbar-dark bg-secondary " id="navbar" >
    <div class="container"><a class="navbar-brand" href="#"><img src="images/Logo blanco-01.png" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" 
    aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
            <ul class="navbar-nav ml-auto">
                <a class="nav-link" href="/">INICIO</a>
                <a class="nav-link" href="/actividades">ACTIVIDADES</a>
                <a class="nav-link" href="/jesus">JESUS</a></li>
                <a class="nav-link" href="/encontranos">ENCONTRANOS</a>
                <a class="nav-link" href="/contacto">¿ORAMOS?</a>
            </ul>
        </div>
    </div>
</nav>
